.statistics {
  @include container;
  margin-top: -7.5em;
  padding-top: 9em;
  padding-bottom: 6em;
  background-color: $lightGray;
  text-align: center;

  @include breakpoint-up(43.75em) {
    margin-top: -5.8em;
    padding-top: 7.5em;
    padding-bottom: 6em;
  }

  @include breakpoint-up(53.75em) {
    margin-top: -4.6em;
  }

  &__header {
    margin-bottom: 6em;

    @include breakpoint-up(43.75em) {
      width: 52%;
      margin-left: auto;
      margin-right: auto;
    }

    @include breakpoint-up(53.75em) {
      width: 46%;
    }
  }

  &__categories {
    @include breakpoint-up(43.75em) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1.9em 1.9em 1.9em 1fr 1fr 1fr 1fr;
      gap: 0 1.5em;
      text-align: left;
    }

    &__card {
      position: relative;
      background-color: $white;
      border-radius: 0.3125em;
      @include container;

      &__icon {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1em 1em 0.8em;
        background-color: $darkViolet;
        border-radius: 50%;

        img {
          height: 34px;
        }

        @include breakpoint-up(43.75em) {
          left: 3.8em;
        }
      }

      &__title {
        margin-top: 2em;
      }

      @include breakpoint-up(45em) {
        padding-left: 1.9em;
        padding-right: 1.9em;

        &:not(:last-child) {
          margin-right: 2em;
        }
      }
    }
    .after {
      @include breakpoint-up(43.75em) {
        &:first-child {
          grid-row: 1 / 6;
          grid-column: 1 / 2;
        }

        &:nth-child(2) {
          grid-row: 2 / 7;
          grid-column: 2 / 3;
        }

        &:last-child {
          grid-row: 3 / 8;
          grid-column: 3 / 4;
        }
      }

      &:not(:last-child) {
        &::after {
          content: "";
          display: block;
          width: 0.5em;
          height: 5em;
          margin: 0 auto;
          background-color: $cyan;

          @include breakpoint-up(43.75em) {
            width: 8em;
            height: 0.5em;
            margin-top: -134px;
            margin-right: -24px;
          }
        }
      }
    }
  }
}
