html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.3;
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a {
  color: #9e9aa7;
  font-weight: 700;
  cursor: pointer;
}

h1,
h2,
h3 {
  color: #35323e;
  font-weight: 700;
  text-transform: capitalize;
}

h1 {
  margin: 0;
  font-size: 2.3rem;
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.3rem;
  }
}

@media (min-width: 60.5625em) {
  h1 {
    font-size: 3.1rem;
  }
}

h2 {
  font-size: 1.5rem;
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 1.9em;
  }
}

h3 {
  font-size: 1.17rem;
}

p {
  color: #bfbfbf;
  font-size: 1rem;
  letter-spacing: -0.062em;
}

img {
  max-width: 100%;
}

input[type="text"] {
  color: #35323e;
  border: none;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: 700;
}

button,
.btn {
  padding: 1em 3em;
  color: #fff;
  background-color: #2acfcf;
  border: none;
  border-radius: 2em;
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

button:hover, button:focus,
.btn:hover,
.btn:focus {
  opacity: 0.7;
}

@media (max-width: 57em) {
  .hide-in-mobile {
    display: none;
  }
}

@media (min-width: 43.9375em) {
  .hide-in-tablet {
    display: none;
  }
}

@media (min-width: 57em) {
  .hide-in-desktop {
    display: none;
  }
}

.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

.header nav {
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  padding: 2.18em 1.875em;
}

@media (min-width: 50em) {
  .header nav {
    padding: 1.5625em 5em;
  }
}

@media (min-width: 55em) {
  .header nav {
    padding: 1.5625em 5em;
  }
}

.header.open .header__hamburger span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__hamburger span:nth-child(2) {
  opacity: 0;
}

.header.open .header__hamburger span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__hamburger {
  cursor: pointer;
}

.header__hamburger span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #9e9aa7;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.header__hamburger span:not(:last-child) {
  margin-bottom: 5px;
}

.header__overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(1, 1, 1, 0.5);
}

.header__menu {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  text-align: center;
  background-color: #3b3054;
  border-radius: 0.9em;
  padding: 2.18em 1.875em;
  margin: 2.18em 1.875em;
}

@media (min-width: 50em) {
  .header__menu {
    padding: 1.5625em 5em;
  }
}

@media (min-width: 55em) {
  .header__menu {
    padding: 1.5625em 5em;
  }
}

@media (min-width: 50em) {
  .header__menu {
    margin: 25px 80px;
  }
}

@media (min-width: 55em) {
  .header__menu {
    margin: 25px 80px;
  }
}

.header__menu a {
  display: block;
  color: #fff;
  margin-bottom: 2.2em;
  line-height: 1.4;
}

.header__menu a:last-child {
  margin-bottom: 0;
}

.header__menu a:nth-child(3)::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.9px;
  background-color: #9e9aa7;
  margin-top: 2.2em;
}

.header__menu a.btn {
  width: 100%;
}

@media (min-width: 43em) {
  .header__links__left {
    margin-left: 3em;
  }
  .header__links__left a:not(:first-child) {
    margin-left: 1.3em;
  }
}

@media (min-width: 43em) {
  .header__links__right {
    margin-left: auto;
  }
  .header__links__right a {
    margin-right: 1.3em;
  }
}

.hero {
  overflow-x: hidden;
}

.hero__image img {
  max-width: 139%;
  padding-left: 2.1875em;
}

.hero__content {
  text-align: center;
  padding: 2.18em 1.875em;
}

@media (min-width: 50em) {
  .hero__content {
    padding: 1.5625em 5em;
  }
}

@media (min-width: 55em) {
  .hero__content {
    padding: 1.5625em 5em;
  }
}

@media (min-width: 40.625em) {
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 1em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__content {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    text-align: left;
    padding-right: 0;
  }
  .hero__image {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
  }
}

.link-shortener {
  margin: 2.18em 1.875em;
}

@media (min-width: 50em) {
  .link-shortener {
    margin: 25px 80px;
  }
}

@media (min-width: 55em) {
  .link-shortener {
    margin: 25px 80px;
  }
}

.link-shortener__form {
  position: relative;
  background-color: #3b3054;
  background-image: url(/images/bg-boost-desktop.svg);
  border-radius: 10px;
  padding: 2.18em 1.875em;
}

@media (min-width: 50em) {
  .link-shortener__form {
    padding: 1.5625em 5em;
  }
}

@media (min-width: 55em) {
  .link-shortener__form {
    padding: 1.5625em 5em;
  }
}

.link-shortener__form input {
  width: 100%;
  margin-bottom: 0.9em;
  padding: 0.9em;
}

.link-shortener__form button {
  width: 100%;
  padding: 0.7em;
  border-radius: 5px;
}

@media (min-width: 53.625em) {
  .link-shortener__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .link-shortener__form input {
    width: 75%;
    margin-bottom: 0;
    padding: 1.1em;
  }
  .link-shortener__form button {
    width: 22%;
    padding: 0.9em;
  }
}

.statistics {
  padding: 2.18em 1.875em;
  margin-top: -7.5em;
  padding-top: 9em;
  padding-bottom: 6em;
  background-color: #f6f2fd;
  text-align: center;
}

@media (min-width: 50em) {
  .statistics {
    padding: 1.5625em 5em;
  }
}

@media (min-width: 55em) {
  .statistics {
    padding: 1.5625em 5em;
  }
}

@media (min-width: 43.75em) {
  .statistics {
    margin-top: -5.8em;
    padding-top: 7.5em;
    padding-bottom: 6em;
  }
}

@media (min-width: 53.75em) {
  .statistics {
    margin-top: -4.6em;
  }
}

.statistics__header {
  margin-bottom: 6em;
}

@media (min-width: 43.75em) {
  .statistics__header {
    width: 52%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 53.75em) {
  .statistics__header {
    width: 46%;
  }
}

@media (min-width: 43.75em) {
  .statistics__categories {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1.9em 1.9em 1.9em 1fr 1fr 1fr 1fr;
        grid-template-rows: 1.9em 1.9em 1.9em 1fr 1fr 1fr 1fr;
    gap: 0 1.5em;
    text-align: left;
  }
}

.statistics__categories__card {
  position: relative;
  background-color: #fff;
  border-radius: 0.3125em;
  padding: 2.18em 1.875em;
}

@media (min-width: 50em) {
  .statistics__categories__card {
    padding: 1.5625em 5em;
  }
}

@media (min-width: 55em) {
  .statistics__categories__card {
    padding: 1.5625em 5em;
  }
}

.statistics__categories__card__icon {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 1em 1em 0.8em;
  background-color: #3b3054;
  border-radius: 50%;
}

.statistics__categories__card__icon img {
  height: 34px;
}

@media (min-width: 43.75em) {
  .statistics__categories__card__icon {
    left: 3.8em;
  }
}

.statistics__categories__card__title {
  margin-top: 2em;
}

@media (min-width: 45em) {
  .statistics__categories__card {
    padding-left: 1.9em;
    padding-right: 1.9em;
  }
  .statistics__categories__card:not(:last-child) {
    margin-right: 2em;
  }
}

@media (min-width: 43.75em) {
  .statistics__categories .after:first-child {
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1 / 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .statistics__categories .after:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 5;
    grid-row: 2 / 7;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .statistics__categories .after:last-child {
    -ms-grid-row: 3;
    -ms-grid-row-span: 5;
    grid-row: 3 / 8;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
}

.statistics__categories .after:not(:last-child)::after {
  content: "";
  display: block;
  width: 0.5em;
  height: 5em;
  margin: 0 auto;
  background-color: #2acfcf;
}

@media (min-width: 43.75em) {
  .statistics__categories .after:not(:last-child)::after {
    width: 8em;
    height: 0.5em;
    margin-top: -134px;
    margin-right: -24px;
  }
}

.get-started {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 18em;
  color: #fff;
  background-color: #3b3054;
  background-image: url(/images/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

@media (min-width: 43.75em) {
  .get-started {
    height: 13em;
    background-image: url(/images/bg-boost-desktop.svg);
  }
}

.get-started h2 {
  color: #fff;
}

.footer {
  background-color: #232127;
  text-align: center;
  padding: 2.18em 1.875em;
}

@media (min-width: 50em) {
  .footer {
    padding: 1.5625em 5em;
  }
}

@media (min-width: 55em) {
  .footer {
    padding: 1.5625em 5em;
  }
}

@media (min-width: 43.75em) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: [footer-start] minmax(4em, 2fr) [features] 1fr [resources] 1fr [company] 1fr [social] 2fr [footer-end];
        grid-template-columns: [footer-start] minmax(4em, 2fr) [features] 1fr [resources] 1fr [company] 1fr [social] 2fr [footer-end];
    gap: 1.5em;
    text-align: left;
    padding-top: 4em;
    padding-bottom: 4em;
  }
  .footer__logo {
    -ms-grid-row: 1;
    grid-row: 1;
    grid-column: footer / features;
  }
  .footer__features {
    -ms-grid-row: 1;
    grid-row: 1;
    grid-column: features / resources;
  }
  .footer__resources {
    -ms-grid-row: 1;
    grid-row: 1;
    grid-column: resources / company;
  }
  .footer__company {
    -ms-grid-row: 1;
    grid-row: 1;
    grid-column: company / social;
  }
  .footer__social {
    -ms-grid-row: 1;
    grid-row: 1;
    grid-column: social / footer;
  }
}

.footer__title {
  padding: 1.5em 0;
  color: #fff;
}

@media (min-width: 43.75em) {
  .footer__title {
    margin-top: 0;
    padding: 0;
    font-size: 1rem;
  }
}

.footer__link {
  display: block;
  margin-bottom: 1em;
  font-weight: 500;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.footer__link:hover {
  color: #2acfcf;
}

@media (min-width: 43.75em) {
  .footer__link {
    font-size: 0.875rem;
  }
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em 0;
}

@media (min-width: 43.75em) {
  .footer__social {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0;
  }
}

.footer__social__link svg path {
  -webkit-transition: fill 150ms ease-in-out;
  transition: fill 150ms ease-in-out;
}

.footer__social__link:hover svg path,
.footer__social__link:focus svg path {
  fill: #2acfcf;
}

.footer__social__link:not(:last-child) {
  margin-right: 2em;
}
/*# sourceMappingURL=all.css.map */